<% provide(:title, "Home") %>

<div class="text-center jumbotron">
<%= link_to image_tag("blogging.svg", alt:"Rails logo", class: "img-responsive img-custom"), "http://www.facebook.com", target: "_blank"%>
    <h1>Welcome to the blog</h1>
    <h2>
        This is the home page for the blog created with Ruby on Rails
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

